//*---------------------------------------*
//  layoutControls 
//*---------------------------------------*
.layout-controls {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  .control {
    margin-right: 20px;
    height: 20px;
    svg {
      width: 20px;
      height: 20px;
      path {
        transition: fill 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        fill: $blue-grey;
      }
    }

    &:hover {
      cursor: pointer;
      svg {
        path {
          fill: #5b5b5b;
        }
      }
    }

  }
  .layout-slider {
    width: 13%;
    div {
      margin: 0 !important;
    }
  }
}