.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}

.navigation {
  background-color: #efefef;
}

.pointer {
  background-color: green !important;
}
.accent {
  background: red !important;
}